* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color:  #65dfc9;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

a {
  text-decoration: none;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.dash {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  margin-bottom: 4cm;
}
.dash h2 {
  padding: 0rem 2rem;
}

.df-surah {
  flex: 2;
}

/* daftar surah */
.search {
  margin-bottom: 3rem;
}

.search input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
  outline: none;
}

.df-surah {
  margin: 5rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  width: 60%;
  overflow-y: scroll;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1.2rem;
  margin: 2rem 0rem;
  padding: 2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;

}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ava {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 7px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
}